    </main>
    <footer>
        <div id="footer-placeholder">
            <p>&copy; <%= new Date().getFullYear() %> Funigo. Tous droits réservés.</p>
            <p>Contact: info@funigo.com</p>
        </div>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/hanzi-writer.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/header-api-time.js"></script>
    <script src="/js/ono-detail.js"></script>
    <script src="/js/quiz-orale.js"></script>
    <script src="/js/quiz-orale2.js"></script>
    <script src="/js/bloc-tech.js"></script>

</body>
</html>