<%- include('../../partials/header_gram', { title: title }) %>

<div class="content content-black"> 

    <div class="vocab_titre" >   
        <h2>Résultats pour "<%= title %>"</h2>
        <a href="/grammaire" class="vocab_href">Retour</a>
    </div>

    <h3 class="vocab_h3">Combien ?&emsp;  いくつ&emsp;  いくら </h3>
    <p><br>
        幾つ (âge)	いくつ	ikutsu	<br>	
            <br>&emsp;&emsp;幾つですか (ikutsu desu ka) : Quel âge avez-vous ?
        幾ら (prix)	いくら	ikura	<br>	
            <br>&emsp;&emsp;幾らですか (ikura desu ka) : Combien c'est ? 
    <br></p>

    <h3 class="vocab_h3">Comment ?&emsp;  どう&emsp;    どうやって&emsp;  どのように&emsp;  いかが&emsp;   </h3>
    <p><br>
        どう	dō	Neutre, courant (familier à standard)	Demander un état, une opinion	<br>	
            <br>&emsp;&emsp;昨日の映画はどうだった？ (Kinō no eiga wa dō datta?)	« Le film d’hier, c’était comment ? »
        <br><br>
        どうやって	dō yatte	Familier / standard	Demander une méthode concrète, un mode d’action	<br>	
            <br>&emsp;&emsp;この料理はどうやって作るの？ (Kono ryōri wa dō yatte tsukuru no?)	« Comment on prépare ce plat ? »
        <br><br>
        どのように	dono yō ni	Poli, formel, souvent à l’écrit	Demander une méthode / manière de façon polie	<br>	
            <br>&emsp;&emsp;この問題をどのように解決しますか？ (Kono mondai o dono yō ni kaiketsu shimasu ka?)	« De quelle manière allez-vous résoudre ce problème ? »
        <br><br>
        いかが	ikaga	Formel, honorifique (plus poli que どう)	Demander un avis, proposer quelque chose avec respect	<br>	
            <br>&emsp;&emsp;コーヒーはいかがですか？ (Kōhī wa ikaga desu ka?)	« Voulez-vous du café ? / Que diriez-vous d’un café ? »
    <br></p>

    <h3 class="vocab_h3">Lequel ?&emsp;   どの&emsp;    どれ</h3>
    <p><br>
        どの    dono     <br>	
            <br>&emsp;&emsp;どの料理が一番人気ですか？ (Dono ryōri ga ichiban ninki desu ka?)  "Quel est le plat le plus populaire ?"
        <br><br>
        どれ	dore    <br>	
            <br>&emsp;&emsp;これ全部試着してもいいですか？どれが一番似合うと思いますか？ (Kore zenbu shichaku shite mo ii desu ka? Dore ga ichiban niau to omoimasu ka?) "Puis-je essayer tous ceux-ci ? Lequel me va le mieux, selon vous ?"    
        <br><br>
    <br></p>

    <h3 class="vocab_h3">Quand ?&emsp;   いつ</h3>
    <p><br>
        何時	いつ	itsu<br>	
            <br>&emsp;&emsp;	何時ですか (itsu desu ka) : Quand c'est ?
        <br><br>
    <br></p>

    <h3 class="vocab_h3">Quoi ?&emsp;   なに</h3>
    <p><br>
        何	なに	Nani (Nani se transforme en nan (なん) devant les sons d, j, n et t, ainsi que dans un mot composé.)<br>	
        <br>&emsp;&emsp;何ですか (Nan desu ka?) : C'est quoi ?
        <br><br>
    <br></p>

    <h3 class="vocab_h3">Qui ?&emsp;   なに</h3>
    <p><br>
        誰 (forme basique)	だれ	dare<br>	
            <br>&emsp;&emsp;誰ですか (Dare desu ka?) : Qui est-ce ?<br>
            <br>&emsp;&emsp;この国で一番美しいのは誰？ (Kono kuni de ichiban utsukushī no wa dare?) : Qui est la plus belle du pays ?<br>
            <br>&emsp;&emsp;誰が誰を作ったのか (Dare ga dare wo tsukutta no ka) : Qui a fait qui ?<br>
        <br><br>
    <br></p>

        <h3 class="vocab_h3">Quoi ?&emsp;   	だれ&emsp;   どなた</h3>
    <p><br>
        誰 (forme basique)	だれ	dare <br>	
            <br>&emsp;&emsp;誰ですか (Dare desu ka?) : Qui est-ce ?<br>
            <br>&emsp;&emsp;この国で一番美しいのは誰？ (Kono kuni de ichiban utsukushī no wa dare?) : Qui est la plus belle du pays ?<br>
            <br>&emsp;&emsp;誰が誰を作ったのか (Dare ga dare wo tsukutta no ka) : Qui a fait qui ?<br>
            <br>&emsp;&emsp;何	なに	Nani (Nani se transforme en nan (なん) devant les sons d, j, n et t, ainsi que dans un mot composé.)<br><br>	
        何方 (forme polie)	どなた	donata	<br>
        <br>&emsp;&emsp;何方ですか (donata desu ka) : Qui est-ce ?
        <br><br>
    <br></p>
</div>

<%- include('../../partials/footer') %>