

<%- include('../../partials/header_gram') %> 
<div class="content content-black"> 
<div >
    <h2>La grammaire</h2>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

    <a href="/gram_jap_regles_search"  class="vocab_href">Recherche d'une Règles<br>文法規則の検索</a>
    <a href="/verbe_transitif_intransitif" class="vocab_href">Verbe transitifs / intransitifs<br>他動詞 / 自動詞 </a>
    <a href="/gram_mot_interrogatif" class="vocab_href">Mot Interrogatif<br>疑問詞 (ぎもんし)</a>
    
</div>

<%- include('../../partials/footer') %>