<%- include('../../partials/header_gram') %> 
<div class="content content-black"> 

    <div id="haut"></div>

    <div  class="vocab_titre" >
        <h2><%= title %></h2>
        <a href="/grammaire" class="vocab_href">Retour</a>
    </div>
        <p><br>&emsp;&emsp;Les verbes japonais fonctionnent par paire de verbe transitif tadōshi (他動詞) et verbe intransitif jidōshi (自動詞).</p>
        <h3><br>&emsp;&emsp;<span class="spancolor">Les verbes transitifs 他動詞  たどうし tadoushi</span></h3>
        <p><br>&emsp;&emsp;Les verbes transitifs utilisent souvent <span class="spancolor">を</span> pour marquer l'objet direct.</p>
        <p><br>&emsp;&emsp;Le kanji 他 (た, ta) dans 他動詞 signifie “autre”. Cela nous indique que ces verbes nécessitent un objet sur lequel l’action est effectuée.</p>
        <h3><br>&emsp;&emsp;<span class="spancolor">Les verbes intransitifs 自動詞  じどうし jidoushi</span></h3>
        <p>&emsp;&emsp;Le verbe intransitif est un verbe d'état, dont le sujet est désigné par la particule <span class="spancolor">が.</span></p>
        <p><br>&emsp;&emsp;Ces verbes décrivent souvent :</p>

        <ul class="gramUl">
            <li>Un état (être, exister, dormir…)</li>
            <li>Un mouvement (aller, venir, tomber…)</li>
            <li>Un changement d’état (ouvrir, se fermer, fondre…)</li>
        </ul>
        
        <br>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <a href="/verbe_transitif" class="vocab_href">Verbe transitifs 他動詞 (tadoushi) </a>
        <a href="/verbe_intransitif" class="vocab_href">Verbe intransitifs 自動詞 (jidoushi)</a>

        <a href="#exemple-verbe-transitifs" class="vocab_href">Exemple verbe transitif</a>
        <a href="#exemple-verbe-intransitifs" class="vocab_href">Exemple verbe intransitif</a>
    </div>


    <div id="exemple-verbe-transitifs">
        <p style="margin-left: 50px;">
            <h3>Exemple verbe transitifs</h3>
            <BR>私はリンゴを食べます。
            <BR>Je mange une pomme.
            <BR>
            <BR>彼はドアを開けます。
            <BR>Il ouvre la porte.
            <BR>
            <BR>母はケーキを作ります。
            <BR>Ma mère fait un gâteau.
            <BR>
            <BR>子どもはボールを投げます。
            <BR>L’enfant lance la balle.
            <BR>
            <BR>先生は本を読みます。
            <BR>Le professeur lit un livre.
            <BR>
            <BR>私は友だちに手紙を書きます。
            <BR>’écris une lettre à mon ami.
            <BR>
            <BR>兄は車を運転します。
            <BR>Mon grand frère conduit une voiture.
            <BR>
            <BR>彼女はテレビを見ます。
            <BR>Elle regarde la télévision.
            <BR>
            <BR>父は窓を閉めます。
            <BR>Mon père ferme la fenêtre.
            <BR>
            <BR>私は音楽を聞きます。
            <BR>J’écoute de la musique.
        </p>
    </div>

    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

    <div id="exemple-verbe-intransitifs">
        <p style="margin-left: 50px;">
            <h3>Exemple verbe transitifs</h3>
            <BR>ドアが開きます。
            <BR>La porte s’ouvre.
            <BR>
            <BR>雨が降ります。
            <BR>Il pleut.
            <BR>
            <BR>子どもが泣きます。
            <BR>L’enfant pleure.
            <BR>
            <BR>花が咲きます。
            <BR>Les fleurs s’épanouissent.
            <BR>
            <BR>犬が走ります。
            <BR>Le chien court.
            <BR>
            <BR>窓が閉まります。
            <BR>La fenêtre se ferme.
            <BR>
            <BR>電気がつきます。
            <BR>La lumière s’allume.
            <BR>
            <BR>電気が消えます。
            <BR>La lumière s’éteint.
            <BR>
            <BR>木が倒れます。
            <BR>L’arbre tombe.
            <BR>
            <BR>車が止まります。
            <BR>La voiture s’arrête.
        </p>

    </div>

     <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

<%- include('../../partials/footer') %>