
<%- include('../../partials/header_hokkaido') %>

<div id=japon-ile-titre>
    <h2>Ile de Hokkaido</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/carte-hokkaido.png" alt="Carte Hokkaido"  >
</div>

<%- include('../../partials/footer') %>

