
<%- include('../../partials/header_shikoku') %>

<div id=japon-ile-titre>
    <h2>Ile de Shikoku</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/carte-shikoku.jpg" alt="Carte Shikoku"  >
</div>

<%- include('../../partials/footer') %>

