
<%- include('../../partials/header_honshu') %>

<div id=japon-ile-titre>
    <h2>Ile de Honshu</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/honshu/carte-honshu-avec-ville.png" alt="Carte Honshu"  >
</div>

 <div id=japon-ile-titre>
    <h2>Régions et départements de Honshu</h2>
</div>
<div id="japon-ile-carte">
    <img src="/images/cartes/japon/honshu/carte-japon-honshu-dep-reg.jpg" alt="Carte Honshu"  >
</div>

<%- include('../../partials/footer') %>

