<%- include('../../partials/header_kanji') %> 
<div class="content content-black">

    <div id="haut"></div>

    <div class="vocab_titre" >   
        <h2><%= title %></h2>
        <a href="/kanji" class="vocab_href">Retour</a>
    </div>

    <p><br>&emsp;&emsp;Conçus à leur origine pour être appris et tracés plus facilement, ils étaient appelés onnade (la main des femmes) du fait que les femmes, tenues à l'écart de l'apprentissage des caractères chinois, n'avaient en conséquence accès qu'à ce système d'écriture.  </p>
    <p><br>&emsp;&emsp;Les hiragana indiquent juste la phonétique. </p>
    <p><br>&emsp;&emsp;Les hiragana servent à retranscrire les mots de vocabulaires peu utilisés en kanji, la terminaison des verbes et de certains adjectifs (okurigana), 
        les particules fonctionnelles, les règles de grammaire, etc… </p>
    <p><br>&emsp;&emsp;les mots japonais dont l'écriture en kanji est soit inconnue de l'auteur ou d'une partie du lectorat, soit jugée trop formelle ou trop difficile (nombre très important de traits)  
    
    <br><br>
    
    <div class="vocab_titre" >   
        <a href="#liste_hiragana" class="vocab_href">Liste des Hiragana</a>
        <a href="#tracer_hiragana" class="vocab_href">Tracer des Hiragana</a>
    </div>

    <br>

    <div id="liste_hiragana">
        <div id="imageStandard">
            <img src="/images/kana/Tableau-de-hiragana-complet.png" alt="tableau hiragana"  >
        </div>
    </div>

    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

    <br><br>

    <div id="tracer_hiragana">
        <div id="imageStandard">
            <img src="/images/kana/Table_hiragana-tracer.png" alt="tableau hiragana"  >
        </div>
    </div>

    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

<div>

<%- include('../../partials/footer') %>

