

<%- include('../../partials/header_kanji') %> 
<div class="content content-black"> 
<div >
    <h2>Les caractères</h2>
</div>

<br><br>
<p> Les caractères japonais (kana) sont constitués de trois types de caractères : hiragana, katakana et kanji.</p>
<br>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

        <a href="/kanji_hiragana" class="vocab_href">Hiraganas 平仮名 (ひらがな)</a>
        <a href="/kanji_katakana" class="vocab_href">Katakanas 片仮名 (カタカナ)</a>
        <a href="/kanji_furigana" class="vocab_href">Furigana  振り仮名（ふりがな）</a>
        <a href="/kanji_les_cles" class="vocab_href">Cle des kanjis 部首（ぶしゅ）</a>
        <br><br>

</div>



<%- include('../../partials/footer') %>