<%- include('../../partials/header_kanji') %> 
<div class="content content-black"> 

    <div id="haut"></div>

    <div class="vocab_titre" >   
        <h2><%= title %></h2>
        <a href="/kanji" class="vocab_href">Retour</a>
    </div>


    <p><br>&emsp;&emsp;Ils sont utilisés dans le système d'écriture japonais pour transcrire les mots d'origine étrangère autres que le chinois, les noms propres.  </p>
    <p><br>&emsp;&emsp;Les katakana indiquent juste la phonétique. </p>
    <p><br>&emsp;&emsp;Les katakana sont utilisés pour les onomatopées ou petits mots expressifs, très fréquents en japonais (voir aussi à l'article Manga) :  </p>
    <p><br>&emsp;&emsp; Exemple: </p>
    <p>&emsp;フワフワ (fuwafuwa?) : sensation agréable de ce qui est doux au toucher (pelucheux) ou fondant dans la bouche ; tendre et moelleux,</p>  
    <p>&emsp;ペコペコ (pekopeko?) : borborygme, bruit de gargouillis, notamment le « grognement ou miaulement » d'un estomac vide, affamé,</p>  
    <p>&emsp;コケコッコ (kokekokko?) : chant du coq, « cocorico » ;</p>
    <p><br>&emsp;&emsp;les mots japonais dont l'écriture en kanji est soit inconnue de l'auteur ou d'une partie du lectorat, soit jugée trop formelle ou trop difficile (nombre très important de traits)  
    
    <br><br>

    
    
    <div class="vocab_titre" >   
        <a href="#liste_katakana" class="vocab_href">Liste des Katakana</a>
        <a href="#tracer_katakana" class="vocab_href">Tracer des Katakana</a>
    </div>

    <br>

    
    <div id="liste_katakana">
        <div id="imageStandard">
            <img src="/images/kana/Tableau-de-katakana-complet.png" alt="tableau hiragana"  >
        </div>
    </div>

    <br><br>

    
    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

    <div id="tracer_katakana">
        <div id="imageStandard">
            <img src="/images/kana/Table_katakana-tracer.png" alt="tableau hiragana"  >
        </div>
    </div>

    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

<div>

<%- include('../../partials/footer') %>

