<%- include('../../partials/header_kanji') %> 
<div class="content content-black">

    <div id="haut"></div>

    <div class="vocab_titre" >   
        <h2><%= title %></h2>
        <a href="/kanji" class="vocab_href">Retour</a>
    </div>

    <p><br>&emsp;&emsp;En japonais, les furigana (振り仮名?), ou encore yomigana (読み仮名?), de yomu (読む?, « lire »), sont des kanas écrits à 
        côté d'un kanji pour en indiquer la prononciation. En effet, les kanas permettent de transcrire phonétiquement tout mot japonais. 
        Dans un texte présenté horizontalement, on les place au-dessus des caractères. Dans un texte vertical, cependant, ils sont tracés à droite. 
        C'est un type de caractères ruby (ou rubi).  </p>
    <p><br>&emsp;&emsp;Les furigana sont surtout employés dans les œuvres pour enfants. On s’attend à ce que le lecteur ne maîtrise 
        pas encore suffisamment de caractères japonais différents pour être en mesure de les reconnaître distinctement.</p>
    <p><br>&emsp;&emsp;Les Japonais rédigent généralement leur nom en kanji. Cependant, vous n’êtes pas sans savoir qu’il y a plusieurs lectures 
        possibles pour chaque caractère japonais. Il y a même des lectures spécifiques pour les appellations, les nanori. Pour éviter la confusion 
        et les erreurs d’interprétation, on emploie habituellement le furigana. Exemple : sur les formulaires officiels, on doit en général 
        libeller son nom en kanji et en romaji, dans une colonne adjacente.</p>
    <p><br>&emsp;&emsp;Les furigana sont parfois utilisés dans les œuvres destinées aux locuteurs japonais adultes. L’objectif est de permettre 
        une lecture des kanji peu communs.</p>
    <br><br>

    <div id="liste_hiragana">
        <div id="imageStandard">
            <img src="/images/kana/furigana.jpg" alt="tableau hiragana"  >
        </div>
    </div>

    <div class="vocab_titre" >   
        <a href="#haut" class="vocab_href">Haut</a>
    </div>

    <br><br>

<div>

<%- include('../../partials/footer') %>