-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: jap
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dep_fr`
--

DROP TABLE IF EXISTS `dep_fr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dep_fr` (
  `dep_index` int NOT NULL AUTO_INCREMENT,
  `num_dep` varchar(10) DEFAULT NULL,
  `nom_dep` varchar(50) DEFAULT NULL,
  `nom_reg` varchar(50) DEFAULT NULL,
  `superficie` int DEFAULT NULL,
  `pop_dep` int DEFAULT NULL,
  `densite` int DEFAULT NULL,
  `nom_pref` varchar(50) DEFAULT NULL,
  `pop_pref` int NOT NULL,
  `sous_pref` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`dep_index`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gram_char`
--

DROP TABLE IF EXISTS `gram_char`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gram_char` (
  `gram_index` int NOT NULL AUTO_INCREMENT,
  `niveau` varchar(10) COLLATE utf8mb4_ja_0900_as_cs DEFAULT NULL,
  `titre` text COLLATE utf8mb4_ja_0900_as_cs,
  `nom` text COLLATE utf8mb4_ja_0900_as_cs,
  `description` text COLLATE utf8mb4_ja_0900_as_cs,
  `construction` text COLLATE utf8mb4_ja_0900_as_cs,
  `exemple` text COLLATE utf8mb4_ja_0900_as_cs,
  PRIMARY KEY (`gram_index`)
) ENGINE=InnoDB AUTO_INCREMENT=686 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_ja_0900_as_cs;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kanji_char`
--

DROP TABLE IF EXISTS `kanji_char`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kanji_char` (
  `kanji_index` int NOT NULL AUTO_INCREMENT,
  `niveau` varchar(10) DEFAULT NULL,
  `kanji` varchar(40) DEFAULT NULL,
  `onyomi` varchar(40) DEFAULT NULL,
  `kunyomi` varchar(40) DEFAULT NULL,
  `francais` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`kanji_index`)
) ENGINE=MyISAM AUTO_INCREMENT=1975 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quiz`
--

DROP TABLE IF EXISTS `quiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ANNEE` int DEFAULT NULL,
  `NIVEAU` varchar(2) COLLATE utf8mb4_ja_0900_as_cs DEFAULT NULL,
  `TEXTE` text COLLATE utf8mb4_ja_0900_as_cs,
  `REP_OK` text COLLATE utf8mb4_ja_0900_as_cs,
  `QUESTION` text COLLATE utf8mb4_ja_0900_as_cs,
  `REP1` text COLLATE utf8mb4_ja_0900_as_cs,
  `REP2` text COLLATE utf8mb4_ja_0900_as_cs,
  `REP3` text COLLATE utf8mb4_ja_0900_as_cs,
  `REP4` text COLLATE utf8mb4_ja_0900_as_cs,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1837 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_ja_0900_as_cs;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reg_fr`
--

DROP TABLE IF EXISTS `reg_fr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reg_fr` (
  `reg_index` int NOT NULL AUTO_INCREMENT,
  `reg_nom` varchar(100) COLLATE utf8mb4_ja_0900_as_cs DEFAULT NULL,
  `reg_cheflieu` varchar(300) COLLATE utf8mb4_ja_0900_as_cs DEFAULT NULL,
  `reg_dep` varchar(300) COLLATE utf8mb4_ja_0900_as_cs DEFAULT NULL,
  `reg_superficie` int DEFAULT NULL,
  `reg_population` int DEFAULT NULL,
  PRIMARY KEY (`reg_index`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_ja_0900_as_cs;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vocab_char`
--

DROP TABLE IF EXISTS `vocab_char`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocab_char` (
  `voca_index` int NOT NULL AUTO_INCREMENT,
  `niveau` varchar(6) DEFAULT NULL,
  `kana` varchar(100) DEFAULT NULL,
  `kanji` varchar(40) DEFAULT NULL,
  `francais` text,
  PRIMARY KEY (`voca_index`)
) ENGINE=InnoDB AUTO_INCREMENT=26313 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `vue_quiz_n1`
--

DROP TABLE IF EXISTS `vue_quiz_n1`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_n1`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_n1` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_quiz_n2`
--

DROP TABLE IF EXISTS `vue_quiz_n2`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_n2`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_n2` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_quiz_n3`
--

DROP TABLE IF EXISTS `vue_quiz_n3`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_n3`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_n3` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_quiz_n4`
--

DROP TABLE IF EXISTS `vue_quiz_n4`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_n4`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_n4` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_quiz_n5`
--

DROP TABLE IF EXISTS `vue_quiz_n5`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_n5`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_n5` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_quiz_´¢Ä3`
--

DROP TABLE IF EXISTS `vue_quiz_´¢Ä3`;
/*!50001 DROP VIEW IF EXISTS `vue_quiz_´¢Ä3`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_quiz_´¢Ä3` AS SELECT 
 1 AS `ANNEE`,
 1 AS `NIVEAU`,
 1 AS `TEXTE`,
 1 AS `REP_OK`,
 1 AS `QUESTION`,
 1 AS `REP1`,
 1 AS `REP2`,
 1 AS `REP3`,
 1 AS `REP4`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vue_quiz_n1`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_n1`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_n1` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%N1%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_quiz_n2`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_n2`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_n2` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%N2%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_quiz_n3`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_n3`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_n3` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%N3%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_quiz_n4`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_n4`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_n4` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%N4%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_quiz_n5`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_n5`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_n5` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%N5%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_quiz_´¢Ä3`
--

/*!50001 DROP VIEW IF EXISTS `vue_quiz_´¢Ä3`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`japadmin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_quiz_´¢Ä3` AS select `quiz`.`ANNEE` AS `ANNEE`,`quiz`.`NIVEAU` AS `NIVEAU`,`quiz`.`TEXTE` AS `TEXTE`,`quiz`.`REP_OK` AS `REP_OK`,`quiz`.`QUESTION` AS `QUESTION`,`quiz`.`REP1` AS `REP1`,`quiz`.`REP2` AS `REP2`,`quiz`.`REP3` AS `REP3`,`quiz`.`REP4` AS `REP4` from `quiz` where (`quiz`.`NIVEAU` like '%´¢Ä3%') order by rand() limit 1000 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-18 16:23:05
