

<%- include('../../partials/header_vocab') %> 
<div class="content content-black"> 
<div >
    <h2>Le vocabulaire</h2>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
 
    <a href="/vocab_adjectif" class="vocab_href">Les Adjectifs<br>形容詞 けいようし </a>
    <a href="/vocab_adverbe" class="vocab_href">Les Adverbes<br>副詞 ふくし</a>
    <a href="/vocab_compter" class="vocab_href">Compter <br> 数える かぞえる</a>
    <a href="/vocab_onomatopee" class="vocab_href">Les Onomatopées<br>オノマトペ</a>

</div>

<%- include('../../partials/footer') %>

