<%- include('../../partials/header_vocab') %> 

<div class="content content-black"> 
<div class="vocab_titre" >   
    <h2><%= title %></h2>
    <a href="/vocab_adjectif" class="vocab_href">Retour</a>
</div>
 
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <a href="/vocab_adjectif_exercice_passe" class="vocab_href">Exercice le passé des adjectifs</a>
</div>

<br><br><p class="vocab_p">

Il existe deux grands types d’adjectifs en japonais, い et な, qui se conjuguent différemment au passé affirmatif et négatif. L’idée clé est que les adjectifs en い changent leur terminaison, tandis que les adjectifs en な utilisent だった／でした ou ではなかった, etc.

Remarque : les citations qui suivent sont indicatives car l’accès aux sources externes est momentanément désactivé.
</p>
<h3 class="vocab_h3">1. Adjectifs en い au passé</h3>
Pour les adjectifs en い (たかい, おいしい, さむい, たのしい, etc.), on modifie directement la terminaison :

<h3 class="vocab_h3">Passé affirmatif : い </h3>

<h3 class="vocab_h3">a) Passé affirmatif (neutre et poli)</h3>
寒かった。<br>
さむかった。<br>
Il faisait froid.<br><br>

寒かったです。<br>
さむかったです。<br>
Il faisait froid. (registre poli)<br>

この映画は面白かった。<br>
このえいがはおもしろかった。<br>
Ce film était intéressant / drôle.<br><br>

この映画は面白かったです。<br>
このえいがはおもしろかったです。<br>
Ce film était intéressant. (poli)<br>

<h3 class="vocab_h3">b) Passé négatif (neutre et poli)</h3>

<h3 class="vocab_h3">Passé négatif : い くなかった (registre neutre) ou formes polies avec です</h3>

寒くなかった。<br>
さむくなかった。<br>
Il ne faisait pas froid.<br><br>

寒くなかったです。<br>
さむくなかったです。<br>
Il ne faisait pas froid. (poli, un peu familier)<br><br>

この料理は美味しくなかった。<br>
このりょうりはおいしくなかった。<br>
Ce plat n’était pas bon.<br><br>

この料理は美味しくなかったです。<br>
このりょうりはおいしくなかったです。<br>
Ce plat n’était pas bon. (poli)<br><br>

<h3 class="vocab_h3">2. Adjectifs en な au passé</h3>
Les adjectifs en な (静か, しずか – calme ; 有名, ゆうめい – célèbre ; 便利, べんり – pratique ; 元気, げんき – en forme) se comportent comme des noms.<br>

Au passé, on utilise <br>
だった／でした (affirmatif) et <br>
ではなかった／じゃなかった／ではありませんでした (négatif). <br>

<h3 class="vocab_h3">a) Passé affirmatif</h3>
この町は静かだった。<br>
このまちはしずかだった。<br>
Cette ville était calme.<br><br>

この町は静かでした。<br>
このまちはしずかでした。<br>
Cette ville était calme. (poli)<br><br>

彼は有名だった。<br>
かれはゆうめいだった。<br>
Il était célèbre.<br><br>

彼は有名でした。<br>
かれはゆうめいでした。<br>
Il était célèbre. (poli)<br><br>

<h3 class="vocab_h3">b) Passé négatif</h3>
Formes neutres : ではなかった / じゃなかった<br>
Formes polies : ではありませんでした<br><br>

この町は静かではなかった。<br>
このまちはしずかではなかった。<br>
Cette ville n’était pas calme.<br><br>

この町は静かじゃなかった。<br>
このまちはしずかじゃなかった。<br>
Cette ville n’était pas calme. (neutre, plus familier)<br><br>

この町は静かではありませんでした。<br>
このまちはしずかではありませんでした。<br>
Cette ville n’était pas calme. (poli)<br><br>

彼は有名ではなかった。<br>
かれはゆうめいではなかった。<br>
Il n’était pas célèbre.<br><br>

彼は有名じゃなかった。<br>
かれはゆうめいじゃなかった。<br>
Il n’était pas célèbre. (familier)<br><br>

<h3 class="vocab_h3">3. Petit tableau récapitulatif</h3>
<table width="100%" border="1" cellspacing="1" cellpadding="5">
    <tr><td>Type / Temps</td><td>Japonais (kanji/kana)</td><td>Lecture hiragana</td><td>Traduction française</td></tr>
    <tr><td>i, passé +</td><td>寒かった</td><td>さむかった</td><td>Il faisait froid.</td><tr>
    <tr><td>i, passé -</td><td>寒くなかった</td><td>さむくなかった</td><td>Il ne faisait pas froid.</td>
    <tr><td>i, passé + poli</td><td>寒かったです</td><td>さむかったです</td><td>Il faisait froid. (poli)</td>
    <tr><td>i, passé - poli</td><td>寒くなかったです</td><td>さむくなかったです</td><td>Il ne faisait pas froid. (poli)</td>
    <tr><td>na, passé +</td><td>静かだった</td><td>しずかだった</td><td>C’était calme.</td>
    <tr><td>na, passé -</td><td>静かではなかった</td><td>しずかではなかった</td><td>Ce n’était pas calme.</td>
    <tr><td>na, passé + poli</td><td>静かでした</td><td>しずかでした</td><td>C’était calme.(poli)</td>
    <tr><td>na, passé - poli</td><td>静かではありませんでした</td><td>しずかではありませんでした</td><td>Ce n’était pas calme. (poli)</td>
</table>
    
<td></td>

<%- include('../../partials/footer') %>