<%- include('../../partials/header_vocab') %> 
<div class="content content-black"> 
<div class="vocab_titre" >   
    <h2><%= title %></h2>
    <a href="/vocab" class="vocab_href">Retour</a>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
 
    <a href="/vocab_adjectif_ii" class="vocab_href">Adjectif en い<br> 形容詞<br> (けいようし) </a>
    <a href="/vocab_adjectif_na" class="vocab_href">Adjectif en な<br> 形容動詞<br> (けいようどうし) </a>
    <a href="/vocab_adjectif_utilisation" class="vocab_href">Adjectif utilisation<br> 形容詞の活用<br> (けいようし の かつよう) </a>
    <a href="/vocab_adjectif_liaison" class="vocab_href">Adjectif Liaison<br> 形容詞の接続<br> (けいようし の せつぞく) </a>
    <a href="/vocab_adjectif_passe" class="vocab_href">Passé des adjectifs <br> 形容詞の過去形<br> (けいようしのかたち) </a>
    
</div>

<%- include('../../partials/footer') %>