<%- include('../../partials/header_vocab') %> 

<div class="content content-black"> 
<div class="vocab_titre" >   
    <h2><%= title %></h2>
    <a href="/vocab_adjectif" class="vocab_href">Retour</a>
</div>
 
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <a href="/vocab_adjectif_exercice_liaison" class="vocab_href">Exercice sur les liaisons</a>
</div>
<br><br><p class="vocab_p">

Si vous essayez de coller deux adjectifs l'un après l'autre, vous allez vite vous rendre compte que le japonais ne fonctionne pas tout à fait comme le français. 
<br><br></p>

<h3 class="vocab_h3">Pourquoi ne peut-on pas juste dire "Adjectif + Adjectif" ?</h3>
<h4 class="titre_h4"> En français</h4>
<p class="vocab_p"></p>on utilise le petit mot "et". Facile, non ? <br></p>
<h4 class="titre_h4"> En japonais</h4>

<p class="vocab_p">l'adjectif change de forme pour signaler qu'une suite arrive. C'est un peu comme si l'adjectif tendait la main au suivant pour ne pas qu'il tombe. <br><br>

Il faut savoir si vous manipulez un adjectif en -i (les naturels) ou un adjectif en -na (les timides qui ont besoin d'une particule).</p>

<h3 class="vocab_h3">La magie de la forme en -te pour les adjectifs en -i</h3> 
<p class="vocab_p">Pour les adjectifs qui se terminent par un ~i (comme oishii - délicieux), on ne peut pas garder le "i" final si on veut en ajouter un autre. <br><br>

La règle d'or : On enlève le ~i et on le remplace par ~kute.<br><br>


Exemple : Atsui (chaud) + Mushiatsui (humide) <br>
Résultat : Atsukute mushiatsui desu. (C'est chaud et humide.) <br><br>

exemples :<br>

Le café est chaud et bon. <br>
コーヒーは熱くて、美味しいです。<br>
Kōhī wa atsukute, oishii desu.<br><br>

Ce sac est petit et léger.<br>
この鞄は小さくて、軽いです tour.<br>
Kono kaban wa chiisakute, karui desu.<br><br>

[!IMPORTANT] Attention à l'exception ! L'adjectif Ii (bien/bon) devient toujours Yokute.</p>

<h3 class="vocab_h3">Comment lier les adjectifs en -na (et les noms) ?</h3> 
<p class="vocab_p">Les adjectifs en -na (comme kirei - beau/propre) sont encore plus simples à manipuler. Pour les lier, on remplace le "na" (ou on ajoute après le mot) la syllabe de.<br><br>

C'est exactement la même règle que pour lier deux noms entre eux. <br><br>

Exemple : Shizuka (calme) + Kirei (beau)<br>
Résultat : Shizuka de kirei na machi. (Une ville calme et belle.)<br><br>

Voyons ça en action :<br>
Cette ville est animée et intéressante.<br>
この町は賑やかで, 面白いです。<br>
Kono machi wa nigiyaka de, omoshiroi desu.<br><br>

Mon professeur est gentil et célèbre.<br>
先生は親切で、有名です。<br>
Sensei wa shinsetsu de, yūmei desu.<br><br>

Le mélange des genres : <br>
mélanger un adjectif en -i avec un adjectif en -na ?"<br><br>

C'est la règle du premier adjectif qui gagne ! <br>
Si le premier est en -i, utilisez ~kute. <br>
Si le premier est en -na, utilisez ~de. <br><br></p>

<h3 class="vocab_h3">FAQ : Vos questions rapides sur la liaison</h3> 
<p class="vocab_p">
1. Peut-on lier plus de deux adjectifs ? Oui ! Vous pouvez en enchaîner trois ou quatre en utilisant la forme en ~kute ou ~de pour tous, sauf le dernier qui termine la phrase normalement.
<br><br>
2. Est-ce que l'ordre des adjectifs compte ? Pas vraiment pour le sens, mais rappelez-vous que la règle de transformation change selon celui que vous placez en premier.
<br><br>
3. Peut-on utiliser "to" pour lier des adjectifs ? Non ! Le mot to (et) ne sert qu'à lier des noms (ex: un chat et un chien). Pour les adjectifs, c'est la conjugaison qu'on vient de voir qui prime.
</p>

<%- include('../../partials/footer') %>